* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Header */
.header {
    background-color: #e6f0ff;
    height: 100vh;
}
